.row
{
	max-width: 1050px;
	margin: 0 auto;
	min-width: 220px;

}

.container
{
	margin-top: 0px;
}

.text-centered
{
	text-align: center;
}

.text-left
{
	text-align: left;
}

.row .btn {
    background-color: #00F;
    color: #FFF;
}

.side-nav
{
	background-color: rgba(210, 205, 205, 0.1);
	padding: 15px
}

.small-input{
	width:70%;
	margin-left: 15px;
}
.inputs
{
	height:35px;
	margin-bottom: 10px;
	padding: 3px;

}

.inputs .addbtn
{
	
	float:left;
	margin-right:5px;
}

.inputs .addbtn .glyphicon
{
	border: 2px solid #337AB7;
	border-radius: 50%;
	padding: 1px;
}

.inputs .result
{
	float:left;
	border-radius: 2px;
	border: 1px solid #337AB7;
	cursor: pointer;
	margin-right: 5px;
	padding:2px;

}
.form-group
{
	border-bottom: 1px solid #337AB7;	
}

.form-group.submit
{
	border:0px;
}